{
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "es5",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "printWidth": 150,
  "importOrder": [
    "^(@hooks)",
    "^((lodash)|(classnames))",
    "^(.*)(\\.(css|scss))$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
